.container {
    width: 100%;

    h1 {
        margin-bottom: 1.6rem;
        line-height: 2.4rem;
    }

    .inputsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;


        .currencyInput {
            display: grid;
            grid-template-columns: 54% 46%;
            justify-content: space-between;
            border: .1rem solid #94A3B8;
            border-radius: .8rem;
            height: 5.6rem;
            width: 100%;

            * {
                background: none;
                border: none;
                outline: none;
            }
            
            .selectContainer {
                width: 100%;
                padding-right: 2rem;
                
                select {
                    font-weight: 600;
                    border-left: 1px solid #94A3B8;
                    height: 100%;
                    width: 100%;
                    padding-left: 2rem;    
                }
            }

            input {

                padding: 0 1.6rem;
            }

        }

        .currencyInput:focus-within {
            outline: auto;
        }
    }

}

@media (min-width: 768px) {
    .container {
        .inputsContainer {
            flex-direction: row;
        }
    }
}